@use '../theme.scss';

.view {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    position: relative;

    background: #E8E8E8;
    border-radius: 8px;
    border: none;

    @include theme.text-regular;
    color: #000;

    &:focus {
        border: 1px solid #434343;
    }
    &:disabled {
        color: #505050;
        background-color: #606060;
    }
}