.mapPlot {
    display: block;
    border: 1px solid black;
    background: white;
    content: 'Map';

    grid-column: 2;
    grid-row: 2 / span 2;
    position: relative;
    z-index: 0;
}
.mapPopupContent {

}

.mapPopupContent table {
    table-layout: fixed;
    border-collapse: collapse; 
    margin-top: 4px;       
}
.mapPopupContent th, .mapPopupContent td {    
    padding: 8px 15px;
}