@use '/src/theme.scss';

.view {
    position: relative;
    width: 100%;
    max-width: 400px;
    @include theme.text-regular;
}

.inputContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 12px;
    position: relative;

    background: #E8E8E8;
    border-radius: 8px;
    border: none;

    @include theme.text-regular;
    color: #000;

    cursor: text;

    &:has(input:focus) {
        border: 1px solid #434343;
    }
    &:has(input:disabled) {
        color: #505050;
        background-color: #606060;
    }
}

.selectedOption {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #447A38;
    color: #fff;

    border-radius: 4px;
    padding: 4px;
    padding-right: 12px;
    font-size: 14px;
    margin: 0 4px;

    button {
        background: none;
        border: none;
        font-size: 16px;
        line-height: 100%;
        cursor: pointer;
        color: #fff;
    }
    text-align: right;
}

input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    background: none;
}

.optionsList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    border-radius: 6px;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}

.optionsList li {
    padding: 10px;
    cursor: pointer;

    &:hover,
    &[aria-selected="true"],
    &.highlightedOption {
        background-color: #f0f0f0;
    }
}