.view {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    gap: 16px;
    width: fit-content;

    background: #FFFFFF;
    border-radius: 8px;
}