@use '/src/theme.scss';
@use '/src/components/Panel.module.scss' as Panel;

.divider {
    width: 50%;
    height: 0px;
    margin: 0 auto;

    border: 1px solid #FFFFFF;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;

}