@use 'sass:map';

$colorPrimary: rgb(60, 97, 170);
$colorSecondary: #9B3CAA;
$colorTertiary: #8DAA3C;
$color-map: (
    "Primary": $colorPrimary,
    "Secondary": $colorSecondary,
    "Tertiary": $colorTertiary
);

$colorPrimaryForeground: #FFFFFF;
$colorSecondaryForeground: #FFFFFF;
$colorTertiaryForeground: #000000;
$foreground-color-map: (
    "Primary": $colorPrimaryForeground,
    "Secondary": $colorSecondaryForeground,
    "Tertiary": $colorTertiaryForeground
);

@mixin GetColorPair($variant) {
    background-color: map.get($color-map, $variant);
    color: map.get($foreground-color-map, $variant);
}

@mixin text-light {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
}

@mixin text-regular {
    /* text regular */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}